.services .heading {
  margin-top: 3%;
  text-align: center;
}
.services .heading h2 {
  font-size: 2.5rem;
  background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services .card {
  width: auto;
  height: 15rem;
  margin: 1rem;
  padding: 0.5rem;
}
.services .card img {
  padding-bottom: 1rem;
  display: flex;
  margin: 0 auto;
}

.services .card:hover {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  cursor: pointer;
  transition: 0.3s all ease;
  color: #fff;
  border: none;
}

@media (max-width: 350px) {
  .services .card {
    /* height: 300px; */
    width: 250px;
  }
}
