@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
.container {
  max-width: 85%;
  margin: auto;
}
.row,
.left,
.right {
  padding-top: 3%;
}
.hero .row {
  margin: 0 auto;
}
